{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="post_page">
                <div style="text-align:center;color:red;">暂不添加友链</div>
<h3>我的朋友</h3>
<ul>
    <li><a href="https://www.shifeiti.com" style="color: red;">是非题</a></li>
    <li><a href="https://waynerv.com/" style="color: red;">Shall We Code</a> - 一名后端工程师</li>
    <li><a href="https://dusays.com" style="color: red;">杜老师说</a></li>
    <li><a href="https://sxxkearth.github.io/" style="color: red;">嗜血星空</a> - 建工学习者，分享部分个人收藏及笔记记录，网址及工具等</li>
    <li><a href="https://immmmm.com" style="color: red;">木木木木木</a></li>
    <li><a href="https://mclsk888.top" style="color: red;">McLsk888’s Blog</a></li>
    <li><a href="https://blog.sakurasep.site/" style="color: red;">上杉九月的博客</a> - 分享生活，探索未来！</li>
    <li><a href="https://tianheg.co/" style="color: red;">一大加贝</a> - 学习技术，热爱生活</li>
    <li><a href="https://guanqr.com/" style="color: red;">荷戟独彷徨</a> - 爱光学，爱生活，爱创造</li>
    <li><a href="https://amnesia-f.vercel.app/" style="color: red;">Amnesia's Blog</a> - 零碎的岛屿总会找到海</li>
    <li><a href="https://uyoahz.cn/" style="color: red;">UyoAhz</a> - 集中精神，以气御剪</li>
    <li><a href="https://www.sulvblog.cn" style="color: red;">Sulv’s Blog</a> - 一个记录技术、阅读、生活的博客</li>
    <li><a href="https://lisenhui.cn" style="color: red;">凡梦星尘空间站</a> - 再平凡的人也有属于他的梦想！</li>
    <li><a href="https://dvel.me/" style="color: red;">Dvel's Blog</a> - Less is More.</li>
    <li><a href="https://www.yyyzyyyz.cn/" style="color: red;">Black Flies</a> - When nothing goes right, just go left.</li>
    <li><a href="https://www.thyuu.com" style="color: red;">风记星辰</a> - 分享生活 · 留下感动</li>
    <li><a href="https://blog.didctf.com/" style="color: red;">DIDCTF-Blog</a> - 一个爱好网安的法学生</li>
    <li><a href="https://kmar.top/" style="color: red;">山岳库博</a> - 开发学习启发性二刺螈</li>
    <li><a href="https://blog.starysky.top" style="color: red;">USTC-茶糜花开</a> - Science lights up the world</li>
    <li><a href="https://bio-w.cn/" style="color: red;">西瓜撞地球</a> - 我在人间贩卖彩虹</li>
    <li><a href="https://hutusi.com/" style="color: red;">胡涂说</a> - 任抛星汉归园圃，留取乾坤盛酒囊</li>
    <li><a href="https://blognas.hwb0307.com" style="color: red;">浮云翩迁之间</a> - 百代繁华一朝都，谁非过客；千秋明月吹角寒，花是主人。</li>
    <li><a href="https://www.liveout.cn/" style="color: red;">Echo’s blog</a> - 韶华不为少年留 恨悠悠 几时休</li>
    <li><a href="https://www.jdeal.cn" style="color: red;">Jdeal</a> - Life is like a Design.</li>
    <li><a href="https://easyf12.top/" style="color: red;">一蓑烟雨的博客</a> - 竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。</li>
    <li><a href="https://shixiaocaia.fun" style="color: red;">Shixiaocaia</a> - 去做吧，反正都会后悔。</li>
    <li><a href="https://b0ae.cn" style="color: red;">小卢</a> - 个人博客记录日常</li>
    <li><a href="https://vlieo.com/" style="color: red;">记忆一隅</a> - 凡事总需研究，才会明白</li>
    <li><a href="https://thiscute.world/" style="color: red;">This Cute World</a> - 脚下虽有万水千山，但行者必至。</li>
    <li><a href="https://blog.leonus.cn" style="color: red;">Leonus</a> - 进一寸有进一寸的欢喜。</li>
    <li><a href="https://jingxin18.cn" style="color: red;">二猫 blog</a> - 一个简单的 Blog 站点</li>
    <li><a href="https://blog.cuger.cn" style="color: red;">Dorad</a> - 地质、炼丹、编程、GIS、摄影</li>
    <li><a href="https://wenderfeng.top/" style="color: red;">wenderfeng</a> - Step by step</li>
    <li><a href="https://blog.catchyun.com/" style="color: red;">云晓晨CatchYun</a> - 未来路远 • 勿忘初心</li>
</ul>

<h3>友链要求</h3>
<ul>
    <li>不定时去朋友的博客溜达，如果网站打不开或是联系不上本人的话会单方面下架链接。</li>
    <li>直接上来要求添加友链的一概不管，添加之前总要先熟悉或是评论几次吧，要不然感觉太突兀了。</li>
    <li>因为博主很喜欢一些漂亮的博客，当然优质的内容也是博客的精髓所在，所以如果你的博客真的很好看或是优质，博主会主动挂在朋友圈实时关注新的文章更新，待到时机成熟就会不要脸的请求添加友链。</li>
    <li>交换友链的网站需要有稳定的更新，目前本站不增添新站（6个月以内）。</li>
    <li>本站不添加资源型博客，近段时间不少资源型博客直接上来就想添加友链，无非就是为了引流，博主感到有些不快，故禁止此类博客。</li>
</ul>

<h3>我的友链</h3>

<p>网站名称：长街短梦</p>
<p>网站地址：<a href="https://wangyunzi.com/">https://wangyunzi.com/</a></p>
<p>网站标志：<a href="https://blog.wangyunzi.com/avatar.png">https://blog.wangyunzi.com/avatar.png</a></p>
<p>站点截图：<a href="https://blog.wangyunzi.com/siteshot.png">https://blog.wangyunzi.com/siteshot.png</a></p>
<p>网站描述：此行山高路远，我只剩口袋玫瑰一片</p>

<div style="text-align:center;">
    <span class="with-love" id="animate1">
        <i class="icon-heart"></i>
    </span>
    请谨慎是否添加博主友链，博主希望友链是平时能够相互互动的，而不是添加了躺在我的友链里面，然后迁移博客的时候看着一堆自己不熟悉的链接
    <span class="with-love" id="animate2">
        <i class="icon-heart"></i>
    </span>
</div>


</div>
</br>
</br>
<!-- 评论系统 -->
</div>
</div>
</div>
<a id="back_to_top" href="#" class="back_to_top"><i class="ri-arrow-up-s-line"></i></a>
{{ partial "footer.html" . }}
</body>

</html>   