{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                        <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                    </div>
                    <div class="post_content markdown">{{ .Content }}</div>
                    <!-- Image & Video Caption -->                  
                    <div class="post_footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <!-- <div id="comments" data-url="https://pocketbase.wangyunzi.com/api/comment"></div>
                <script type="module" crossorigin src="https://pocketbase.wangyunzi.com/comment.js"></script> -->
                <link rel="stylesheet" href="/css/comment.css">

                <div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.38/dist/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo.wangyunzi.com/', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
  el: '#tcomment', // 容器元素
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
  // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
  // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
})
</script>
        </div>
    </div>
    <a id="back_to_top" href="#" class="back_to_top"><i class="ri-arrow-up-s-line"></i></a>
    {{ partial "footer.html" . }}
</body>

</html>
