<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}" {{ end }}>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}" />
	{{ $title := ( .Title ) }}
	{{ $siteTitle := ( .Site.Title ) }}
	{{ if .IsHome }}
	<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}｜ {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{ else }}
	<title>{{ $title }} ｜ {{ $siteTitle }}</title>
	{{ end }}
    <!-- description & keywords -->
    {{ if .Description }}
    <meta name="description" content="{{ .Description | safeHTML }}" />
    {{ else if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify }}" />
    {{ else if .Site.Params.description }}
    <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
    {{ end }}

    {{ if .Keywords }}
    {{ $length := len .Keywords | add -1 }}
    <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ $element | safeHTML }}{{ if ne $index $length }}, {{ end }}{{ end }}" />
    {{ else if .Site.Params.keywords }}
    {{ $length := len .Site.Params.keywords | add -1 }}
    <meta name="keywords" content="{{ range $index, $element := .Site.Params.keywords }}{{ $element | safeHTML }}{{ if ne $index $length }}, {{ end }}{{ end }}" />
    {{ end }}

	{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}


    <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.0/animate.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "css/zozo.css" |absURL }}" />
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "css/highlight.css" | absURL }}" />


    <script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
    <script src="{{ "js/zozo.js" | absURL }}"></script>
    <script src="{{ "js/view-image.js" | absURL }}"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RG3B8PERQE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RG3B8PERQE');
</script>

<script type="text/javascript" src="//js.users.51.la/21897449.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?78820c974c73efd2bb12a472c22119d7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>




    {{ if .Site.Params.enableMathJax }}
    {{ partial "mathjax.html" . }}
    {{ end }}

    <!-- custom css -->
    {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ "css/" | absURL }}{{ . }}" />
    {{ end }}
</head>
